.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1500px;
}
section {
    font-size: 20px;
    text-align: center;
}

section h3 {
    text-align: center;
    padding: auto;
    width: auto;
    padding-left: 0%;
    padding-right: 0%;
}

section {
    background: linear-gradient(rgba(219, 219, 219, 0.1), rgba(129, 60, 60, 0.1), rgba(0, 0, 0, 0.1));
    /* border-radius: 10%; */
    padding: 1%;
    margin-left: 0%;
    margin-right: 0%;
}

.sectionBG {
    /* background: linear-gradient(rgba(78, 39, 39, 0.15), rgba(139, 91, 91, 0.15)); */
    /* border-radius: 10%; */
    padding: 1%;
}

.LOGO {
    display: block;
    margin: auto;
    padding: auto; 
}
svg{
    display: block;
    margin: auto;
    padding: auto; 
}
.buttom{
    z-index: 1;
    position: absolute;
    margin-left: 2%;
    margin-top: 48%;
    display: block;
    width: 10%;
    text-align: left;
}
/****************************************************************************************/
body {
    /* background: url(../images/forest.jpg)no-repeat center center fixed; */
    /* background: radial-gradient(rgb(9, 22, 36), rgb(22, 28, 63), rgb(10, 19, 33)); */
    background: radial-gradient(rgb(0, 0, 0), rgb(5, 5, 5), rgb(0, 0, 0));
    /* background-color: black; */
    background-size: cover;
} 
.block1 {
    padding-bottom: 15%;
}

.block2 {
    padding-bottom: 30%;
}